.btn-link-principal 
{
	font-weight: bold;
	color: #f8f8f8;
}
.btn-link-secundario 
{
	font-weight: bold;
	color: #2a3f54;
}
.accordion-wrapper-principal > .card > .card-header 
{
    padding: .2rem;
    height: auto;
}
.card-body-ind 
{
    flex: 1 1 auto;
    padding: 1.25rem;
    padding-top: 0;
    padding-bottom: 0;
}
.card-header-ind 
{
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
	padding-left: 1rem;
    height: 2.5rem;
}
.card-header-principal 
{
	background-color: #8297a6;
}
.card-header-principal2
{
	background-color: #2a3f54;
}
.table-header
{
	background-color: #8297a6;
	color: white;
}
a {
    color: #2a3f54;
    text-decoration: none;
    background-color: transparent;
}
.btn:hover 
{
    color: #2a3f54;
    text-decoration: none; 
}
.btn2 
{
    padding: 0.0175rem 0.75rem;
}
.btn2:hover 
{
    color: #7d868f;
    text-decoration: none; 
}
.font-avance
{
	font-size: smaller;	
}
.font-bold
{
	font-weight: bold;	
	color: #0836ab !important;
}
.font-probatorio
{
	color: #2a3f54 !important;
}
.td-avance
{
	padding-left: 3% !important;
}
.table-responsive {
    width: 99%;
}
.table-small th, .table-small td {
    padding: 0.15rem;
    /* vertical-align: top; */
    border-top: 1px solid #e9ecef;
}
.badge-warning {
    color: #fff;
    background-color: #f7b924;
}